<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>    
<h3 style="text-align: center;">Questions on HTML</h3> 
<body> 
    <form> 
         1)HTML Programs can be read and rendered by
        <br> 
        <input type="radio" name="option1" value="1"> 
        <label for="male">Interpreter</label><br> 
        <input type="radio" name="option1" value="2"> 
        <label for="female">Server</label><br> 
        <input type="radio" name="option1" value="3"> 
        <label for="male">Web Browser</label><br>
        <input type="radio" name="option1" value="4"> 
        <label for="male">Compiler</label><br>
        <br>
        2)Link URL in HTML is specified using this attribute
        <br> 
        <input type="radio" name="option2" value="1"> 
        <label for="male">src</label><br> 
        <input type="radio" name="option2" value="2"> 
        <label for="female">link</label><br> 
        <input type="radio" name="option2" value="3"> 
        <label for="male">href</label><br>
        <input type="radio" name="option2" value="4"> 
        <label for="male">rel</label><br>
        <br>
        3)JavaScript Can be  written
        <br> 
        <input type="radio" name="option3" value="1"> 
        <label for="male">Directly into the HTML Pages</label><br> 
        <input type="radio" name="option3" value="2">
        <label for="female">Directly into JS File and included into HTML</label><br> 
        <input type="radio" name="option3" value="3">  
        <label for="male">Directly on the server script</label><br>
        <input type="radio" name="option3" value="4"> 
        <label for="male">None of these</label><br>
        <br>
        4)Value of attribute "href" is also called as _____ of the Destination Web Page
        <br> 
        <input type="radio" name="option4" value="1"> 
        <label for="male">URM</label><br> 
        <input type="radio" name="option4" value="2"> 
        <label for="female">URK</label><br> 
        <input type="radio" name="option4" value="3"> 
        <label for="male">URS</label><br>
        <input type="radio" name="option4" value="4"> 
        <label for="male">URL</label><br>
        <br>
        5)URL in HTML stands for _____
        <br> 
        <input type="radio" name="option5" value="1"> 
        <label for="male">Universal Resource Locator</label><br> 
        <input type="radio" name="option5" value="2"> 
        <label for="female">Uni Resource Locator</label><br> 
        <input type="radio" name="option5" value="3"> 
        <label for="male">Uniform Resource Locator</label><br>
        <input type="radio" name="option5" value="4"> 
        <label for="male">None of these</label><br>
        <button type="submit" class="btn btn-primary text mt-4 ml-1" value="Apply">Apply</button>
    </form> 
</body> 
