
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>    
<h3 style="text-align: center;">Questions on Java</h3> 
<body> 
    <form class="form font-weight-bolder p-3 m-3" method="post" action="/calculateScore">
         1)Which of the following option leads to the portability and security of Java?
        <br> 
        <input type="radio" name="option1" value="1"> 
        <label for="male">1) Bytecode is executed by JVM</label><br> 
        <input type="radio" name="option1" value="2"> 
        <label for="female">2) The applet make sthe Java Code secure and portable</label><br> 
        <input type="radio" name="option1" value="3"> 
        <label for="male">3) Use of Exception Handling</label><br>
        <input type="radio" name="option1" value="4"> 
        <label for="male">4) Dynamic binding between objects</label><br>
        <br>
        2)Which of the following is not a Java Feature?
        <br> 
        <input type="radio" name="option2" value="1"> 
        <label for="male">1) Dynamic</label><br> 
        <input type="radio" name="option2" value="2"> 
        <label for="female">2) Architecture Neutral</label><br> 
        <input type="radio" name="option2"  value="3"> 
        <label for="male">3) Use of Pointers</label><br>
        <input type="radio" name="option2" value="4"> 
        <label for="male">4) Object-Oriented</label><br>
        <br>
        3)The \u0021 article referred to as a
        <br> 
        <input type="radio" name="option3"  value="1"> 
        <label for="male">1) Unicode Escape Sequence</label><br> 
        <input type="radio" name="option3" value="2"> 
        <label for="female">2) Octal Escape</label> <br>
        <input type="radio" name="option3" value="3">
        <label for="male">3) Hexadecimal</label><br>
        <input type="radio" name="option3" value="4"> 
        <label for="male">4) Line Feed</label><br>
        <br>
        4)What is used to find and fix bugs in the Java programs
        <br> 
        <input type="radio" name="option4" value="1"> 
        <label for="male">1) JVM</label><br> 
        <input type="radio" name="option4" value="2">  
        <label for="female">2) JRE</label><br> 
        <input type="radio" name="option4" value="3"> 
        <label for="male">3) JDK</label><br>
        <input type="radio" name="option4" value="4"> 
        <label for="male">4) JDB</label><br>
        <br>
        5)What is the return type of the hashCode() method in the Object class?
        <br> 
        <input type="radio" name="option5" value="1"> 
        <label for="male">1) Object</label><br> 
        <input type="radio" name="option5" value="2">  
        <label for="female">2) int</label><br> 
        <input type="radio" name="option5" value="3"> 
        <label for="male">3) long</label><br>
        <input type="radio" name="option5" value="4"> 
        <label for="male">void</label><br>
        <button type="submit" class="btn btn-primary text mt-4 ml-1" value="Submit">Submit</button>
    </form> 
</body> 
